<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
	
    <!-- 
    <bean id="changeLetter" class="com.hsp.inter.changeToUpper">
        <property name="str" value="abcde"></property>
    </bean> -->
    
    
    <bean id="changeLetter" class="com.hsp.inter.changeToLower">
        <property name="str" value="HIJKL"></property>
    </bean>
    
	<bean id="student1" scope="singleton" class="com.hsp.inter.Student">
		<property name="name" value="Xiaoming"></property>
	</bean> 
	 
	<bean id="student2" scope="prototype" class="com.hsp.inter.Student">
		<property name="name" value="Xiaohua"></property>
	</bean>
	
</beans>    
