<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
    xmlns:aop="http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	
    <bean id="test1Service" class="com.lr.aop.Test1Service">
    	<property name="name" value="Xiao Ming"></property>
    </bean>
    
    <bean id="myMethodBeforeAdvice" class="com.lr.aop.MyMethodBeforeAdvice"></bean>
    <bean id="myAfterReturningAdvice" class="com.lr.aop.MyAfterReturningAdvice"></bean>
    <bean id="myAroundInvoking" class="com.lr.aop.MyAroundInvoking"></bean>
    <bean id="myThrowsAdvice" class="com.lr.aop.MyThrowsAdvice"></bean>
    <bean id="myMethodBeforeAdviceFilter" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
    	<property name="advice" ref="myMethodBeforeAdvice"></property>
    	<property name="mappedNames">
    	    <list>
    	        <value>sayBye</value>
    	    </list>
    	</property>
    </bean>
    
    <bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">    	
    	<property name="proxyInterfaces">
    		<list>
    			<value>com.lr.aop.TestServiceInterface</value>
    			<value>com.lr.aop.TestServiceInterface2</value>
    		</list>
    	</property>
    	
    	<property name="interceptorNames">
    	    <list>
    	        <value>myMethodBeforeAdviceFilter</value>
    			<value>myAfterReturningAdvice</value>
    			<value>myAroundInvoking</value>
    			<value>myThrowsAdvice</value>
    	    </list>    		
    	</property>
    	
    	<property name="target">
    		<ref bean="test1Service"/>
    	</property>
    </bean>
    
    
    
	
</beans>    
