<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"
    xmlns:aop="http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd">
	

   
   <bean id="personService2"
    class="com.beanlife.PersonService"
    lazy-init="false">
   		<constructor-arg name="name" value="Xiao Gang"></constructor-arg>
   		<constructor-arg name="age" value="100"></constructor-arg>   
   		<property name="name" value="Xiao Hua"></property>		
   </bean>
   
   <bean id="personService" destroy-method="destroy" class="com.beanlife.PersonService">   		
   		<constructor-arg name="age" value="100"></constructor-arg>   
   		<constructor-arg name="name" value="Xiao Gang"></constructor-arg>
   		<property name="name" value="Xiao Ming"></property>		
   </bean>   
   
   <bean id="postProcessor" class="com.beanlife.myBeanPostProcessor"></bean>
</beans>    
